.accordion {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;       
  margin: 0 auto;
  position: relative;
  background: url("../img/girl.png") center / cover no-repeat;
  

  &__container {
    height: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__slide {
    &-title {
      position: absolute;
      top: rem(100px);
      left: rem(80px);
      font-weight: bold;
      font-size: rem(48px);
      text-transform: uppercase;
      color: $white;

      &-container {
        width: 50%;
        height: 100%;
      }
    }

    &-tabs{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}