*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
    
    }

    html {
        font-size: $baseFontSize;

        @include tablets {
            font-size: $baseFontSize - 1px;
        }

        @include phones {
            font-size: $baseFontSize - 2px;
        }
    }

    html, body{
        font-size: $baseFontSize;
    }
    
    body{
        font-family: 'Play', sans-serif;
        line-height: 1.42;
        -webkit-osx-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #666666;
        margin: 0;
    }
    
    .wrapper{
        position: relative;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }
    
    
    .container{
        width: 100%;
        max-width: $containerWidth;
        margin: 0 auto;
        position: relative;

    }

    
    ul{
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    p {
        padding: 0;
        margin: 0;
    }

    footer {
        
        width: 100%;
    }
    
    
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
        
    }
    
    a{
        color: inherit;
    }

    
    .img{
        display: block;
        max-width: 100%;
    }
    
    .btn{
        font-weight: bold;
        padding: rem(17px) rem(32px);
        text-transform: uppercase;
        border-radius: rem(100px);
        line-height: 1;
        color: $white;
        background: $red;
        text-decoration: none;
        border: none;
        display: inline-block;

        &:hover{
            background-color: $darkred;
        }

        &--transparent {
            background: transparent;
            color: $darkgrey;
            text-transform: none;
    
        &:hover {
            background: transparent;
            color: $white;
        }
    }
}

.arrows {
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer; }
  
  .arrows-right {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer; }


    