.benefits {
    display: flex;
    
    @include phones {
        flex-direction: column;
    }
    

    &::before{
        content: url('../img/Icons/19.png');
        position: absolute;
        bottom: -53%;
        z-index: 1;

        @include tablets {
            bottom: -26%;
        }

        @include phones{
            bottom: -8%;
          }
    }

}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(30px);
    }

     &:before{
         content: url('../img/Icons/1.png');
         position: absolute;
         top: rem(50px);
         right: 0;
         transform: translate(50%);

         @include tablets {
            display: none;
        }

        @include phones {
            display: none;
        }
        
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
    
}

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;  
    width: rem(126px);
    height: rem(126px);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: $grey;
}

.benefit__icon {
    width: rem(58px);
    height: rem(62px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__image {
    margin-bottom: rem(30px);

    @include phones {
        margin-right: rem(20px);
    }
    
}

.benefit__title {
    font-size: rem(24px);
    color: $black;
    margin-bottom: rem(20px);

    
}