.footer {
    position: absolute;
    bottom: 0;
    color: $black;
    background: $white;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

}

.footer__container {
    min-height: rem(50px);
    display: flex;
    justify-content: space-between;
    padding: rem(30px);

    @include phones {
        justify-content: center;
        align-items: center;
       flex-direction: column;
    }

}


.contacts {
    font-style: normal;
    font-size: rem(20px);    
    

    @include phones {
       bottom: rem(50px);
       left: rem(80px);
       margin-bottom: rem(15px);
    }

    @include compact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: rem(16px); 
          
     }
}

.contacts__place {

    @include phones {
        margin-bottom: rem(10px);
    }
}

.footer__phone-number {
    @include phones {
    margin-left: rem(60px);
    }

    @include compact {
        margin-left: 0;
        }
}

.phone-number__text {
    @include compact {
        margin-left: 0;
        }
}
