.order-section {
    background: url('../img/vo.png') center bottom no-repeat;
    color: $white;
    background-color: #161616;
    
}

.form{
    display: flex;
    
   
    @include tablets {
        flex-direction: column;
        padding: 0 19%;
        }

        @include tablets {
            padding: rem(70px);
        }

        @include phones {
            padding: rem(10px);
        }

    
    &:after {
        position: absolute;
        content: url('../img/Icons/11.png');
        top: rem(-215px);
        right: rem(-150px);

        @include tablets {
            top: rem(-85px);
            right: rem(50px);
        }

        @include phones {
            top: rem(-140px);
            right: rem(30px);
        }

         @include compact {
            top: rem(-20px);
            right: rem(10px);
        }
    
    }

    }

.form__col {
    flex: 1;
    margin-right: rem(20px);
    

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
    
}

.form__row {
    display: flex;
    margin-bottom: rem(30px);
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin: 0;
    }
}

.form__input{
    width: 100%;
    padding: rem(17px) rem(11px);
    border: rem(2px) solid transparent;
    border-radius: rem(4px);
    @include tablets {
        padding: rem(8px) rem(11px);
    }

    &--textarea {
        height: rem(180px);
        resize: none;
        border: none;

        @include tablets {
            height: rem(80px);
        }
    }

    &:focus {
        outline: none;
        border-color: #e01f3d;
    }
}


.form__controls{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(5px);
    

    @include phones {
        justify-content: center;
        justify-content: space-evenly;
    }
}

.form__controls--last {
    margin-bottom: rem(40px);
   
}

.form__btns {
    display: flex;
    justify-content: center;
}
