.order__section {
    background: url('../img/vo.png')center bottom no-repeat;
    color: $white;
    background-color: #161616;
}

.form{
    display: flex;
    background-color: #161616;
    
    &:after {
        position: absolute;
        content: url('../img/Icons/11.png');
        top: -20px;
        right: 10%;
    }
}

.form__col {
    flex: 1;
    margin-right: 20px;
    

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 25px;
}

.form__black {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin: 0;
    }
}

.form__input{
    width: 100%;
    border: none;
    padding: 17px 11px;
    border: 2px solid transparent;

    &--textarea {
        height: 165px;
        resize: none;
    }

    &:focus {
        outline: none;
        border-color: #e01f3d;
    }
}

.form__controls{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.form__controls--last {
    margin-bottom: 40px;
}
