.gear {
  margin-bottom: rem(50px);
  background: #9A9A9A;
  border-radius: rem(5px);
  height: rem(90px);
  width: rem(90px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  

  @include tablets{
   display: none;
    }

    

  &:hover + .gear__items-list {

   left: 740px;
   
  }
}

.gear__items-list {
  position: absolute;
  left: 999999999px;

  &:hover {
    position: absolute;
  left: 740px;
  cursor: pointer;
  }
}


.items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.item {
  margin-bottom: rem(20px);

}


.gear__items-item {
  background: $white;
  padding: rem(20px);

}

.item__text {
  margin-left: rem(30px);
}

.item__value {
  margin-left: rem(60px);
}

