.hamburger {
    width: 24px;
    height: 22px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: $black;
    height: 4px;
    border-radius: 10px;
}