.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
    vertical-align: middle;
}

.logo{
margin-top: -8px;
}

.menu {
padding-top: 5px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    flex-wrap: wrap;
    justify-content: center;
}

.menu .menu__list {
     display: flex;
     align-items: center;
    
 }

 .menu__item {
     margin-right: rem(38px);
     margin-bottom: rem(10px);

     &:last-child{
         margin-right: 0;
     }

 }


 .menu__link{
     white-space: nowrap;
    text-decoration: none; 
    color: $black;
     }  

.phone-number{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.phone-number__text {
    font-size: rem(21px);
    white-space: nowrap;
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(5px);
}


.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}