.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(70px);
    vertical-align: middle;
    
    @include tablets {
        padding-left: 30px;
    }
    
}

.logo{
margin-top: rem(-8px);

}

.menu {
padding-top: rem(5px);

    @include tablets {
        display: none;
        
    }
}

.menu__list {
    flex-wrap: wrap;
    
}

.menu .menu__list {
     display: flex;
     
    
 }

 .menu__item {
     margin-right: rem(38px);
     margin-bottom: rem(10px);

     &:last-child{
         margin-right: 0;
     }

 }


 .menu__link{
     white-space: nowrap;
    text-decoration: none; 
    color: $black;
     }  

.phone-number{
    text-decoration: none;

    
}

.phone-number__text {
    font-size: rem(21px);
    white-space: nowrap;

    @include compact {
        font-size: rem(20px)
    }
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
}


.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}