.hero{

    background-color: $grey;
    min-height: rem(650px);
    color: $black;
    position: relative;
    height: 100vh;
   

    &:after {
        position: absolute;
        right: rem(300px);
        top: rem(920px);
        content: url('../img/Icons/18.png');

        @include tablets {
         right: rem(110px);
         top: rem(920px);
        }
    }
}


.hero__title-section {
    width: 46%;
    

    @include tablets {
        width: 98%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before {
            content: "";
            background: url('../img/2-layers.png') center center / contain no-repeat;
            display: block;
            
            width: rem(340px);
            height: rem(340px);

            @include phones {
                width: rem(287px);
                height: rem(287px); 
            }
        }
    }
 }


.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) rem(0px) rem(45px);
    background: url('../img/2-layers.png') right center / 50% auto  no-repeat ;

    @include tablets {
        background: none;
    }
}


.hero__main-title {
    font-size: rem(48px);
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: rem(17px);
    text-transform: uppercase;
    
}

.hero__title-desc {
    font-style: rem(21px);
    font-size: rem(18px);
    margin-bottom: rem(35px);
    padding-right: 10%;

    @include tablets {
        padding:0 10%;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}