@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Play", sans-serif;
  line-height: 1.42;
  -webkit-osx-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #666666;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
}

.img {
  display: block;
  max-width: 100%;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 17px 32px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  color: #fff;
  background: #e01f3d;
  text-decoration: none;
  border: none;
}
.btn:hover {
  background-color: #CA1B36;
}
.btn--transparent {
  background: transparent;
  color: #999999;
  text-transform: none;
}
.btn--transparent:hover {
  background: transparent;
  color: #fff;
}

.hero {
  background-color: #f5f5f5;
  min-height: 650px;
  height: 100vh;
  color: #000;
}
.hero:after {
  position: absolute;
  right: 300px;
  top: 920px;
  content: url("../img/Icons/18.png");
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0px 45px;
  background: url("../img/2-layers.png") right center/50% auto no-repeat;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-style: 21px;
  font-size: 18px;
  margin-bottom: 52px;
  padding-right: 10%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 42px;
}

.menu .menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 38px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  color: #000;
}

.phone__number {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__text {
  font-size: 21px;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
}

.section {
  height: 100vh;
  display: flex;
  min-height: 650px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.section__title {
  color: #000;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.section__title--white {
  color: #fff;
  margin-bottom: 50px;
}

.headline {
  text-align: center;
  margin-bottom: 57px;
}

.headline__subtitle {
  padding: 0 20%;
}

.benefits {
  display: flex;
  position: relative;
}
.benefits::before {
  content: url("../img/Icons/19.png");
  position: absolute;
  bottom: -50%;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/Icons/1.png");
  position: absolute;
  top: 50px;
  right: 0;
  transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: #f5f5f5;
}

.benefit__icon {
  width: 58px;
  height: 62px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__image {
  margin-bottom: 30px;
}

.benefit__title {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.reviews {
  margin-top: 40px;
}
.reviews:after {
  position: absolute;
  top: 820px;
  content: url("../img/Icons/8.png");
}

.review__title {
  font-size: 27px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.reviews__display {
  padding: 50px 45px 34px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  background: #f5f5f5;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 254px;
  height: 260px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  flex: 1;
  margin-left: 20px;
}

.review__text {
  margin-bottom: 25px;
}

.review__author {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border: 6px solid #e01f3d;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("./img/vo.png") center bottom no-repeat;
  color: #fff;
  background-color: #161616;
}

.form {
  display: flex;
  background-color: #161616;
}
.form:after {
  position: absolute;
  content: url("../img/Icons/11.png");
  top: -20px;
  right: 10%;
}

.form__col {
  flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 25px;
}

.form__black {
  flex: 1;
  margin-right: 20px;
}
.form__black:last-child {
  margin: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 17px 11px;
  border: 2px solid transparent;
}
.form__input--textarea {
  height: 165px;
  resize: none;
}
.form__input:focus {
  outline: none;
  border-color: #e01f3d;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.form__controls--last {
  margin-bottom: 40px;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio:nth-child(2) {
  margin-left: 10px;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  border-radius: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  background-color: #e01f3d;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features {
  display: flex;
}

.features__item {
  margin-right: 46px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 44px;
  margin-right: 7px;
}

.feature__text {
  max-width: 85px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #e01f3d;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}