
// color
$grey: #f5f5f5;
$darkgrey:#999999;
$red: #e01f3d;
$darkred: #CA1B36;
$white: #fff;
$black: #000;

// base
$containerWidth: 940px;
$baseFontSize: 16px;

// z-indexes
$z-fixed-menu: 100;

@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


@import 'base';
@import 'hero';
@import 'header';
@import 'section';
@import 'benefits';
@import 'review';
@import 'form';
@import 'radio';
@import 'features';
@import 'feature';
@import 'fixed-menu';



