// Breakpoints
$tablets: 768px;
$phones: 549px;
$compact: 320px;

// color
$grey: #f5f5f5;
$darkgrey:#999999;
$red: #e01f3d;
$darkred: #CA1B36;
$white: #fff;
$black: #000;

// base
$containerWidth: 940px;
$baseFontSize: 16px;

@import 'media';

// z-indexes
$z-fixed-menu: 100;

@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');



@import 'base';
@import 'hero';
@import 'header';
@import 'section';
@import 'benefits';
@import 'video';
@import 'review';
@import 'form';
@import 'radio';
@import 'features';
@import 'feature';
@import 'fixed-menu';
@import 'footer';
@import 'socials';
@import 'slider';
@import 'gear';
@import 'cost';
@import 'spec';
@import 'accordion';
@import 'sizes';
@import 'burger';
@import 'team';
@import 'overlay';
@import 'modal';







