.radio {
    display: flex;
    cursor: pointer;
    user-select: none;

    &:nth-child(2) {
        margin-left: 10px;
    }
    

    &--checkbox {
        margin-bottom: 40px;
        .radio__visible {
            border-radius: 0;

            &:before {
                border-radius: 0;
            }

        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible{
        &:before {
            display: block;
        }
    }
}

.radio__visible {
    width: 25px;
    height: 25px;
    position: relative;
    background: $white;
    border-radius: 50%;
    margin-right: 10px;


    &:before {
        content: "";
        display: none;
        width: 10px;
        height: 10px;
        background-color: $red;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

