.reviews {
    margin-top: rem(40px);
    
    &:after {
        position: absolute;
        top: rem(820px);
        content: url('../img/Icons/8.png');

        @include compact {
            top: rem(880px);
            z-index: 1;
        }
    }
}



.reviews__display {
    padding: rem(50px) rem(45px) rem(200px);
    margin-bottom: rem(20px);
    overflow: hidden;
    position: relative;
    background: $grey;

    @include phones{
        padding: rem(50px) rem(0px) rem(150px);
    }

    @include compact{
        min-height: rem(0px);
    }

    
    


    &:before {
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: rem(-65px);
        
    }
}

.reviews__display-inner {
    display: flex;
    position: absolute;
   left: rem(999999px);

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-right: rem(50px);
        min-height: rem(150px);
        }

        @include phones{
            margin-left: rem(40px);
            min-height: rem(280px);
        }
}

.reviews__display-inner--active {
    position: static;
    left: rem(50px);
    max-height: rem(120px);

    @include tablets{
        margin-left: rem(40px);
        
    }

    
}

.reviews__avatar {
    width: rem(254px);
    height: rem(260px);

    @include tablets {
        width: rem(131px);
        height: rem(133px);
        }

        @include phones {
            width: rem(122px);
            height: rem(125px);
            }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.review__content {
    flex: 1;
    margin-left: rem(20px);
    padding: rem(15px) rem(50px) rem(15px) rem(20px);

    @include tablets{
        padding: 0;
        
    }

    
}

.review__text {
    margin-bottom: rem(25px); 
    color: $black;
}


.reviews__switcher {
    display: flex;
    justify-content: center; 
}

.interactive-avatar {
    width: rem(80px);
    height: rem(80px);
    border: rem(6px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &:active {
    border: rem(5px) solid $red
    }

    &--active {
        border: rem(5px) solid $red;
    }

}

.interactive-avatar__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}



.interactive-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}