.section{
    height: 100vh;
    display: flex;
    min-height: rem(650px);
    flex-direction: column;
    justify-content: center;       
    margin: 0 auto;
    position: relative;
        
    @include phones {       
        height: 100%;
    }
}


.section__title {
    color: $black;
    font-weight: bold;
    font-size: rem(48px);
    text-align: center;
    text-transform: uppercase;

    @include phones {
        font-size: rem(36px);
    }

    @include compact {
        font-size: rem(30px);
    }
}

.section__title--white {
    color: $white;
    margin-bottom: rem(50px);
}


.headline{
    margin-bottom: rem(57px);

    @include phones {
        margin-bottom: rem(10px);
    }

}


.headline__subtitle{
    padding: 0 20%;
    text-align: center;
    color: $black;

    @include phones {
        padding: 0 5%;
    }

}
