.sizes {
  height: 100%;

  &__list {
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    min-width: rem(110px);
    height: 100%;
    cursor: pointer;
    display: flex;

    @include phones {
      min-width: rem(80px);
    }

    @include compact{
      min-width: rem(50px);
    }

    &_silver {
      background: $darkgrey;
    }

    &_black {
      background: $black;
    }

    &_red {
      background: $red;
    }

    &-title {
      position: relative;
      min-width: rem(80px);
      height: 100%;

      @include phones {
        min-width: rem(60px);
      }
  
      @include compact{
        min-width: rem(40px);
      }

      & span {
        font-weight: bold;
        font-size: rem(36px);
        color: $white;
        position: absolute;
        top: rem(870px);
        left: 0;
        transform: rotateZ(-90deg);
        transform-origin: 0 0;
        line-height: rem(80px);
        white-space: nowrap;

        @include tablets {
          font-size: rem(30px); 
          top: rem(800px); 
          line-height: rem(100px);
        }

        @include phones {
          font-size: rem(30px);  
          line-height: rem(80px);
        }
    
        @include compact{
          font-size: rem(24px);
          line-height: rem(50px);
          top: rem(730px);
        }
      }
    }

    &-description {
      background: rgba(51, 53, 55, .9);
      max-width: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .5s ease-in-out;

      &_active {
        max-width: rem(500px);
        opacity: 1;
        visibility: visible;

        @include tablets {
          max-width: rem(380px);
        }

        @include phones {
          max-width: rem(180px);
        }

      }

      & p {
        padding: rem(31px) rem(38px);
        color: $white;
        min-width: rem(524px);

        @include phones {
          min-width: rem(230px);
        }

        @include compact{
          min-width: rem(150px); 
      }
    }


  }
  }
}