.slider {
  background: $grey;
  height: 100vh;
  width: 100%;



  &__container {
    max-width: rem(1100px);
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

  }

  &__slide-logo {
    margin-top: rem(50px);
    margin-right: rem(50px);
    display: block;  
    border-radius: 50%;
   max-width: rem(485px);
   max-height: rem(485px);

   @include tablets{
    margin-top: rem(30px);
    margin-right: 0;
    max-width: rem(317px);
    max-height: rem(317px);
    
    }

  }

  &__item {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
  }

 

  &__left {
    position: absolute;
    top: 50%;
    left: rem(50px);
    cursor: pointer;

    @include tablets{
      top:35%;
      left: rem(150px);
      }

      @include phones{
        top: 33%;
        left: rem(30px);

        }

        @include compact{
          top: 29%;
          left: rem(13px);
  
          }
  }

  &__right {
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    right: rem(80px);
    cursor: pointer;

    @include tablets{
      top: 35%;
      right: rem(150px);
      }

      @include phones{
        top: 32%;
        right: rem(37px);

        }

        @include compact{
          top: 29%;
          right: rem(20px);
  
          }
  }


  &__list {
    display: flex;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    transition: .5s all ease-out;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    @include tablets{
      display: flex;
      flex-direction: column;
      }
    

    &-title {
      font-weight: bold;
      font-size: rem(36px);
      text-transform: uppercase;
      color: $black;
      max-width: rem(400px);

      @include tablets{
        max-width: 100%;
        font-size: rem(30px);
        }

        @include phones{
          max-width: 93%;
          text-align: center;
        }

        @include compact{
          font-size: rem(27px);
  
          }
    }

    &-description{
      font-weight: normal;
      line-height: rem(19px);
      color: $darkgrey;
      margin-top: rem(24px);
      max-width: rem(365px);

      @include tablets{
        text-align: center;
        max-width: rem(630px);
        }

        @include phones{
          text-align: center;
          padding: rem(20px);
          }


    }
  }

  &:after {
    content: url('../img/Icons/20.png');
    position: absolute;
        bottom: -3%;
        right: 15%;

        @include tablets{
          bottom: -3%;
          }

          @include phones{
            right: 5%;
            }
  }


}

.arrows {
  position: absolute;
  top: 50%;
  left: rem(20px);
  cursor: pointer; 
}

.arrows-right {
  position: absolute;
  top: 50%;
  right: rem(20px);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer; 
}

