
  .socials {
    display: flex;
    margin: 0;
  }
  
  .socials__list{
    display: block;
      display: flex;
      

      @include tablets{
        display: flex;
        justify-content: center;
      }
  }
  
  .socials__item{
    margin-left: rem(10px);
      width: rem(36px);
      height: rem(36px);
        
  }

 .socials__link{
   fill: $darkgrey;
   margin: 0;

   &:hover {
     fill: $black;
   }
 }




