
  .socials__list{
      display: flex;
      justify-content: flex-end;

      @include phones{
        display: flex;
        justify-content: center;
      }
  }
  
  .socials__item{
    margin-left: 10px;
      width: 36px;
      height: 36px;
      position: relative;   
  }

 .tm-icon, .vk-icon, .in-icon{
   fill: $darkgrey;
 }




