
  .socials__list{
    display: block;
      display: flex;
      

      @include phones{
        display: flex;
        justify-content: center;
      }
  }
  
  .socials__item{
    margin-left: rem(10px);
      width: rem(36px);
      height: rem(36px);
        
  }

 .tm-icon, .vk-icon, .in-icon{
   fill: $darkgrey;
 }




