.spec {
  margin-top: rem(27px);
  margin-bottom: rem(50px);

  

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    @include tablets{
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
  }

  &__title {
    font-size: rem(16px);
    color: #666666;
  }

  &__value {
    font-weight: bold;
    font-size: rem(18px);
    color: #000000;
  }

  &__weight {
    margin-left: rem(86px);
  }

}