.team {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team__item {
    margin-left: rem(20px);
    

    &:first-child{
        margin-left: 0;
    }
}


.team--desktop {

    margin-top: rem(50px);

    @include tablets {
        display: none;
    }
}

.team__title {
    border: none;
    background-color: $white;
    position: relative;
    padding-left: 0;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        border: rem(5px) solid transparent;
        border-top-color: $red;
        left: 100%;
        top: 50%;
        border-bottom-width: rem(0px);
        
    }
}

.team__content{
    overflow: hidden;
    height: 0;
    transition: .5s;
}

.team__member {

    @include tablets {
        overflow: hidden;
        height: 0;
        transition: .5s;
    }
}


.team__occ {
    color: $black;
}

.team__content-text {
    color: $darkgrey;
}

.team--mobile{
    overflow: hidden;
    height: 0;
    transition: .5s;

    @include tablets {
        flex-direction: column;
        height: 100%;
    }
}